<section class="comments">
    <div class="container-title">
        <h1>Menciones</h1>
    </div>
    <div class="container-comments">
        <div class="comment-one">
            <figure>
                <img src="images/persona1.png" alt="saturno">
            </figure>
            <h2>Mario Fernández</h2>
            <p>
                Me ha gustado la relación calidad - precio que ofrece esta marca.
                Además es muy resistente.
            </p>
        </div>
        <div class="comment-two">
            <figure>
                <img src="images/persona_mujer.png" alt="saturno">
            </figure>
            <h2>María Reyes</h2>
            <p>
                Increíble producto mi gato usa su cajita todos los días.
                Además es muy bonita con su increible diseño.
            </p>
        </div>
        <div class="comment-three">
            <figure>
                <img src="images/p3.png" alt="saturno">
            </figure>
            <h2>Valeria Guzmán</h2>
            <p>
                Desde que compre el primer producto de esta marca no he dejado de comprar
                tiene las tres b que busco: bueno, bonito, barato.
            </p>
        </div>
        <div class="comment-four">
            <figure>
                <img src="images/p4.png" alt="saturno">
            </figure>
            <h2>Linda Figueredo</h2>
            <p>
                Miles de productos ahi en el mercado, pero nada como una
                caja con gatitos.
            </p>
        </div>
</div>
</section>