 <!-- Aqui van los productos -->
 <section class="features">
    <div class="container">
        <div class="feature-one">
            <figure>
                <img src="images/cute.png" alt="cute">
            </figure>
            <h2>Lo más suavecitos</h2>
            <p>
                Miles de productos ahi en el mercado, pero nada como una
                caja con gatitos.
            </p>
        </div>
        <div class="feature-two">
            <figure>
                <img src="images/saturno.png" alt="saturno">
            </figure>
            <h2>Lo más suavecitos</h2>
            <p>
                Miles de productos ahi en el mercado, pero nada como una
                caja con gatitos.
            </p>
        </div>
        <div class="feature-three">
            <figure>
                <img src="images/hot.png" alt="saturno">
            </figure>
            <h2>Lo más suavecitos</h2>
            <p>
                Miles de productos ahi en el mercado, pero nada como una
                caja con gatitos.
            </p>
        </div>
    </div>
</section>