<!-- Aqui empieza el pie de pagina -->
<footer>
    <div class="option">Términos y condiciones</div>
    <div class="option">
        <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="45262a2b312426312a052737242b216b262a28">[email&#160;protected]</a>
    </div>
</footer>