<div class="products">
    <div class="product fadeInUp">
        <div class="content">
            <div class="img_content">
                <img src="images/box2.png" alt="">
            </div>
            <h1>Producto 1</h1>
            <p>Miles de productos que existen en el mercado,
                pero nada como un caja con gaticos
            </p>
            <button href="#" class="main_button">Lo quiero</button>
        </div>
    </div>
    <div class="product fadeInUp">
        <div class="content">
            <div class="img_content">
                <img src="images/box1.png" alt="">
            </div>
            <h1>Producto 2</h1>
            <p>Miles de productos que existen en el mercado,
            pero nada como un caja con gaticos
            </p>
            <!-- El # en el a es para que su accion sea de click -->
            <button href="#" class="main_button">Lo quiero</button>
        </div>
    </div>
</div>