<div class="products">
    <div class="product fadeInUp">
        <div class="content">
            <div class="img_content">
                <img src="img/box2.png" alt="">
            </div>
            <h1>Producto 1</h1>
            <p>Caja para gatos hecha  a la medida para brindarle a tu gatito la mayor comodida y seguridad.</p>
            <button href="#" class="main_button">Lo quiero</button>
        </div>
    </div>
    <div class="product fadeInUp">
        <div class="content">
            <div class="img_content">
                <img src="img/box1.png" alt="">
            </div>
            <h1>Producto 2</h1>
            <p>Son tan comodas que hasta tu vas a querar usarlas</p>
            <button href="#" class="main_button">Lo quiero</button>
        </div>
    </div>
</div>