<div class="wrapperfaqs">
    <div class="faqs-content">
        <h1>FAQs</h1>
        <div class="question">
            <p>¿El delivery es gratis?</p>
        </div>
        <div class="answer">
            <p>Si y solo si la monto supera los 50 dólares americanos.</p>
        </div>
        <div class="question"><p>¿Puedo pagar con paypal?</p></div>        
        <div class="answer"><p>Si puede pagar con paypal.</p></div>
        <div class="question">
            <p>¿Puedo pagar con criptomonedas?</p>
        </div>
        <div class="answer">
            <p>Si debe crear una cuenta primero y usar metamask. Si va a realizar
                un pago en otra criptodivisa recuerde notificar a nuestro equipo de atención al cliente.</p>
        </div>
        <div class="question">
            <p>¿Cuales son los tiempos de envio?</p>
        </div>
        <div class="answer"><p>Los tiempos de envio dependeran del currier no brand.</p></div>
        <div class="question">
            <p>¿Quién se encarga de mi pedido una vez enviado por correo?</p>
        </div>
        <div class="answer"><p>Su envio se encarga el currier que usted haya registrado en la plataforma</p></div>
        <div class="question">
            <p>¿Y si cambio de dirección?</p>
        </div>
        <div class="answer">
            <p>No existe ningun problema nuestra plataforma siempre realizará los envíos a las direcciones indicadas en su cuenta.</p>
        </div>
        <div class="question">
            <p>¿Mi pedido todavía no ha llegado?</p>
        </div>
        <div class="answer">
            <p>Debe verificar el estado de envio del paquete con su currier elegido.</p>
        </div>
        <div class="question">
            <p>¿Sus productos son de calidad?</p>
        </div>
        <div class="answer">
            <p>Distribuimos las mejores marcas del mercado en cuanto a productos para mascotas se refiere.</p>
        </div>
        <div class="question">
            <p>¿De donde proviene la marca?</p>
        </div>
        <div class="answer">
            <p>Brand nace en Caracas como un negocio familiar que con el pasar del tiempo fue poco a poco
                creciendo y abriendo nuevas sucursales en Venezuela, Colombia, Panamá y España.
            </p>
        </div>
    </div>
</div>