<div class="main_section fadeIn">
    <h1>
       Productos increíbles que sólo aqui podrás tener
    </h1>
</div>
<%- include('partials/products.ejs') %>
<%- include('partials/features.ejs') %>
<%- include('partials/comments.ejs') %>