<div class="form-signup">
    <div class="wrapper-form">
        <h2 id="signIn-title">Sign In</h2>
        <form action="/signin" method="POST" id="formsignin">
            <input type="text" placeholder="Nick name"/>
            <input type="text" placeholder="Password"/>
            <input type="submit" class="submit" value="REGISTRARSE">
        </form>
    </div>
</div>