<div class="form-signup">
    <div class="wrapper-signup">
        <h2 id="signup-title">Sign Up</h2>
        <form action="/signup" method="POST" id="formsignup">
            <input type="text" placeholder="Nick name"/>
            <input type="text" placeholder="Name"/>
            <input type="text" placeholder="Last name"/>
            <input type="text" placeholder="Password"/>
            <input type="submit" class="submit" value="REGISTRARSE">
        </form>
    </div>
</div>